* {
  color: #575757;
}

.banner {
  margin-top: 28px !important;
}

.intro {
  width: 100%;
  height: 375px;
  background-color: #bdd8ef;
  padding: 5% 80px !important;
  z-index: 1;
}

.code-block {
  height: 375px;
  width: 105%;
  overflow: hidden;
  padding: 0 15px;
  margin: 0;
}

.contact-me {
  position: absolute !important;
  right: 0px;
  z-index: 0;
  padding: 5% 8% 0 5% !important;
  background-color: #f9f9f9;
  height: 375px;
}

#footer {
  background: #575757;
  padding: 1px 10px 21px 10px;
}

.white {
  color: #e2e2e2 !important;
}

.fixed-height {
  resize: none !important;
}

.icons {
  border-top: none !important;
}

.centered {
  text-align: center;
  margin-top: 20px;
}

svg.side-l-arrow {
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 100%;
}

#chartdiv {
  height: 400px;
}

#skills {
  padding-top: 16px;
  margin-bottom: 0;
  color: #fff;
}

.darkbg {
  background-color: #575757;
  width: 100% !important;
}

@media only screen and (max-width: 767px) {
  .ui.stackable.grid > .column.row > .column,
  .ui.stackable.grid > .row > .column {
    padding: 0 !important;
  }

  .intro {
    text-align: center !important;
    height: 260px !important;
  }

  #contact-form {
    padding: 30px 50px !important;
  }

  .code-block {
    margin-bottom: 0px;
  }

  #show-contact-btn {
    display: none;
  }

  #hide-contact-form {
    display: none;
  }
}
